.c-panel{
    padding: var(--padding-7);
    width: var(--width-4);
    background-color: var(--background-color-5);
    border-radius: 5px;
    text-align: center;
}

.c-panel__header{
    background-color: var(--background-color-8);
    
}

.c-panel__body{
    padding: var(--padding-1);
    background-color: var(--background-color-7);
}

.c-panel__footer{
    background-color: var(--background-color-8);
}

